/* screen - desktop-4 */

.desktop-4 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 1024px;
  width: 1440px;
}

.desktop-4 .overlap-group1 {
  height: 1025px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop-4 .image-1 {
  height: 916px;
  left: 819px;
  top: 109px;
  width: 621px;
}

.desktop-4 .line-3 {
  height: 916px;
  left: 819px;
  top: 109px;
  width: 1px;
}

.desktop-4 .rectangle-27 {
  height: 259px;
  left: 995px;
  object-fit: cover;
  position: absolute;
  top: 180px;
  width: 296px;
}

.desktop-4 .rectangle-28 {
  height: 281px;
  left: 995px;
  object-fit: cover;
  position: absolute;
  top: 484px;
  width: 292px;
}

.desktop-4 .line-13 {
  height: 3px;
  left: 909px;
  top: 473px;
  width: 445px;
}

.desktop-4 .a-domicilio {
  color: var(--black);
  font-family: var(--font-family-encode_sans);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 1052px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 127px;
  width: 292px;
}

.desktop-4 .en-drogueria {
  color: var(--black);
  font-family: var(--font-family-encode_sans);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 1052px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 756px;
  width: 292px;
}

.desktop-4 .button {
  align-items: center;
  background-color: var(--boulder);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 80px;
  justify-content: center;
  left: 890px;
  overflow: hidden;
  position: absolute;
  top: 892px;
  width: 195px;
}

.desktop-4 .state-layer {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 10px 24px;
  position: relative;
  width: fit-content;
}

.desktop-4 .label-text {
  letter-spacing: 0.10px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.desktop-4 .button-1 {
  background-color: var(--nobel);
  left: 1203px;
  top: 892px;
  width: 194px;
}

.desktop-4 .button-2 {
  background-color: var(--scampi);
  cursor: pointer;
  left: 890px;
  top: 892px;
  width: 195px;
}

.desktop-4 .button-3 {
  background-color: var(--purple-heart);
  cursor: pointer;
  left: 1203px;
  top: 892px;
  width: 194px;
}

.desktop-4 .rectangle-33 {
  background-color: var(--purple-heart);
  height: 106px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 1440px;
}

.desktop-4 .rectangle-34 {
  background-color: var(--purple-heart);
  height: 1024px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 255px;
}

.desktop-4 .title {
  cursor: pointer;
  height: 53px;
  left: 682px;
  letter-spacing: 0.10px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 289px;
}

.desktop-4 .lista-de-alarmas {
  left: 61px;
  top: 125px;
  width: 132px;
}

.desktop-4 .crear-alarma {
  cursor: pointer;
  height: 71px;
  left: 61px;
  letter-spacing: 0.10px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 227px;
  width: 132px;
}

.desktop-4 .lista-de-medicamentos {
  left: 38px;
  top: 330px;
  width: 177px;
}

.desktop-4 .button-4 {
  background-color: var(--purple-heart);
  left: 449px;
  top: 452px;
  width: 194px;
}

.desktop-4 .supporting-text-2 {
  height: 29px;
  left: 266px;
  letter-spacing: 0.50px;
  line-height: 24px;
  position: absolute;
  top: 623px;
  width: 100px;
}

.desktop-4 .supporting-text-3 {
  height: 29px;
  left: 379px;
  letter-spacing: 0.50px;
  line-height: 24px;
  position: absolute;
  top: 623px;
  width: 111px;
}

.desktop-4 .iconscheck_box_outline_blank {
  height: 29px;
  left: 304px;
  position: absolute;
  top: 651px;
  width: 38px;
}

.desktop-4 .iconscheck_box_outline_blank-1 {
  height: 29px;
  left: 417px;
  position: absolute;
  top: 651px;
  width: 38px;
}

.desktop-4 .listbox-component {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 287px;
  min-height: 376px;
  position: absolute;
  top: 248px;
  width: 528px;
}

.desktop-4 .list-box-title {
  height: 26px;
}

.desktop-4 .list-container {
  height: 340px;
  position: relative;
  width: 528px;
}

.desktop-4 .list-box-main {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 14px #0000001a;
  gap: 82px;
  height: 78px;
  left: 24px;
  padding: 26.0px 27.4px;
  position: absolute;
  top: 0;
}

.desktop-4 .placeholder-text {
  align-items: flex-start;
  display: flex;
  height: 26px;
  min-width: 315px;
}

.desktop-4 .chevron {
  align-self: center;
  height: 8px;
  margin-top: 1.3px;
  width: 19px;
}

.desktop-4 .clip-list {
  height: 340px;
  left: 0;
  position: absolute;
  top: 0;
  width: 528px;
}

.desktop-4 .state-layer-1 {
  align-self: stretch;
  flex: 1;
  gap: 4px;
  padding: 4px;
}

.desktop-4 .container {
  align-items: center;
  border-radius: 100px;
  display: flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: fit-content;
}

.desktop-4 .state-layer-2 {
  gap: 10px;
  justify-content: center;
  padding: 8px;
  width: fit-content;
}

.desktop-4 .content {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  gap: 10px;
  position: relative;
}

.desktop-4 .trailing-elements {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -7.50px;
  margin-top: -7.50px;
  position: relative;
  width: fit-content;
}

.desktop-4 .overlap-group4 {
  height: 100px;
  left: 361px;
  position: absolute;
  top: 904px;
  width: 153px;
}

.desktop-4 .rectangle-37 {
  height: 100px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 153px;
}

.desktop-4 .supporting-text {
  height: 29px;
  left: 0;
  letter-spacing: 0.50px;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 121px;
}

.desktop-4 .supporting-text-1 {
  height: 29px;
  left: 2px;
  letter-spacing: 0.50px;
  line-height: 24px;
  position: absolute;
  top: 43px;
  width: 81px;
}

.desktop-4 .rectangle-14 {
  height: 100px;
  left: 357px;
  object-fit: cover;
  position: absolute;
  top: 758px;
  width: 152px;
}

.desktop-4 .button-5 {
  align-items: center;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 80px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
}

.desktop-4 .list-box {
  align-items: flex-start;
  display: flex;
  min-width: 480px;
}

.desktop-4 .lista-de {
  cursor: pointer;
  height: 71px;
  letter-spacing: 0.10px;
  line-height: 20px;
  position: absolute;
  text-align: center;
}

.desktop-4 .state-layer-3 {
  align-items: center;
  display: flex;
  position: relative;
}
